body{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Kaushan Script', cursive; */
     font-size: 15px;
     color: #333;
     line-height: 1.6;
     margin: 0;
}
*,
*:before,
*:after{
  
    box-sizing:border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;  
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("ss.jpg") center no-repeat;
    animation: eye 20s infinite;
    animation-iteration-count: infinite linear;
    -webkit-background-size:cover ;
      background-size: cover;
}
@keyframes eye{
    20%{background-image: url(koo.jpg);}
    45%{background-image: url(ss.jpg);}
     65%{background-image: url(https://avatars.mds.yandex.net/get-altay/4335161/2a00000179a759b5e135f0a43a169c749ce3/XXXL);}
}
.intro_inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}
.intro_title{
    margin-top: 10px;
    color: rgb(239, 245, 250);
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
     
}
.intro_sutitle{
    margin-bottom: 10px;
    text-align: center;
    font-size: 50px;
    color: rgba(238, 244, 249, 0.918);
    font-family: 'Kaushan Script', cursive;
    
}

.intro_title:after{
     content: "";
     display: block;
     width: 60PX;
     height: 3PX;
     background-color: azure;
     margin: 60px AUTO  ;

}
.header{
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo{
    font-size: 30px;
    font-weight: 700;
    color: rgb(240, 242, 245);
}
.nav{
    font-size: 14px;
    text-transform: uppercase;
}
.nav_link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: white;
    position: relative;
    text-decoration: none;
    transition: color .1s linearr;
}
.nav_link:after{
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    content: "";
     display: block;
    width: 100%;
    height: 3px;
    /* display: none; */
    background-color: yellow;
    position: absolute;
    transition: opacity .1s linear;

}
.nav_link:hover{
    color:yellow ;
}
.nav_link:hover:after{
 opacity: 1;
}
/*button*/
.btn{
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    border: 3px solid whitesmoke ;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: background 1s linear,color .1s linear;
}
.btn:hover{
    background-color: rgb(242, 247, 252);
    color: #333;
    
}
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9c5;
    min-width: 80px;
    max-height: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1b4}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

@media only screen and (min-width:400px) and (max-width: 700px) {
    .kkoz{
        background-color: black;
        position: relative;
    top: 400px;
    }
    .forma{
        position: relative;
       left: 10px;
       top: 10px;
    }
    .contar{
        width: 20px;
        height: 150px;
        margin-top: 120vh;
        margin-left: -200px;
 
    }
    .serv{
        position: relative;
        top:-300px
    }
    
   
  
 }
 @media only screen and (min-width: 880px) and (max-width:1024px) {
    .forma{
       position: relative;
       bottom: 350px;
       left: 500px;
     } 
     .contar{
       position: relative;
       display: flex;
        top:300px;
       left: 10px;
       top: 40px;
       display: flex; 
       width: 600px;
       height: 600px;
       
     
   }  
 }
 .footer {
	height: 330px;
	/* background-color: #25292C; */
	display: flex;
	color: white;
	padding-top: 80px;
	/* background-color: #1A1A1A; */
	background-color: #221E22;
	border-top: 1px dashed gold;
}

.logo_footer {
	margin-left: 100px;
	margin-right: 170px;
	display: flex;
	margin-top: 37px;
}

.logo_image_footer {
	margin-right: 0px;
	cursor: pointer;
   margin-top: -30px;
}

.logo_text_footer {
	padding-top: 3px;
	cursor: pointer;
}

.logo_footer h1 {
	font-size: 20px;
	font-family: 'Abril Fatface', display;
	cursor: pointer;
	/* color: wheat; */
	color: #F0F0F0;
}

.logo_footer p {
	font-size: 10px;
	margin-top: -6px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	color: #A1A1A1;
	cursor: pointer;
}

.column_1_footer {
	margin-right: 200px;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	cursor: pointer;
	/* color: wheat; */
	color: #F0F0F0;
	transition: 0.5s all;
   margin-left: 50px;
}

.column_1_footer div:hover {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	cursor: pointer;
	/* color: #FC653E; */
	color: #e29f01;
}

.column_2_footer {
	margin-right: 200px;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	cursor: pointer;
	/* color: wheat; */
	color: #F0F0F0;
   margin-left: 7.320644216691069vw;
}

.column_2_footer div:hover {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	cursor: pointer;
	/* color: #FC653E; */
	color: #e29f01;
}

#darme_footer:hover {
	/* color: wheat; */
	color: #F0F0F0;
}

.column_3_footer {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: whitesmoke;
   margin-left: 1.856515373352855vw;
}

.column_3_div12{
	color: #00AEEF;
	font-size: 17px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

.copyright_footer {
	color: #ADADAD;
	position: absolute;
	text-decoration: none;
	margin-top: 225px;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin-left: 560px;
}

#toggle{
	display: none;
 }
 .navs{
	float: left;
 }
 .togglesss{
	margin: 20px 0 0 20px;
	font-size: 30px;
	display: none;
 }

@media (max-width: 700px) {
    .footer {
		height: 400px;
	}

	.logo_footer {
		margin-top: -20px;
		margin-left: 190px;
	}

	.column_1_footer {
		margin-left: -420px;
		margin-right: 45px;
		margin-top: 80px;
	}

	.column_2_footer {
		margin-top: 80px;
	}

	.column_3_footer {
		margin-top: 80px;
		margin-left: -155px;
	}

	.copyright_footer {
		margin-left: 40px;
		margin-top: 285px;
	}
    .togglesss{
		display: block;
		cursor: pointer;
	 }
	 .nav{
		display: block;
		text-align: center;
		padding-bottom: 140px;
		padding-top: 80px;
		font-size: 50px;
	 }
	 #toggle:checked + .container{
		display: none;
	 } 
	 .header{
		background-color:darkgrey;
		opacity: 0.9;
	 }
	 .header_logo{
		display: none;
	 } 
}


@media screen and (min-width:667px) and (max-width:1024px){
    .togglesss{
		display: block;
		cursor: pointer;
	 }
	 .nav{
		display: block;
		text-align: center;
		padding-bottom: 100px;
		font-size: 120px;
	 }
	 #toggle:checked + .container{
		display: none;
	 } 
	 .header{
		background-color:darkgrey;
		opacity: 0.9;
	 }
	 .header_logo{
		display: none;
	 } 
     .container{
        display: inline-flex;
     }
     .copyright_footer {
		margin-left: 400px;
		margin-top: 220px;
	}
}