.header{
    background-color: rgb(110, 47, 47);
  }
  .product-item {
     width: 18.301610541727673vw;
     text-align: center;
     margin: 0 auto;
     border-bottom: 2px solid #F5F5F5;
     background:lavenderblush;
     font-family: "Open Sans";
     transition: .3s ease-in;
     
  }
  .qr{
   text-align: center;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: #0c3ee2;
   font-size: 40px;
  }
  .collab{
   width: 230px;
   height: auto;
  }
  .collabs{
   display: flex;
  }
  .colabsss{
   margin-left: 510px;
   width: 100px;
   height: auto;
  }
  .sdustore{
   text-align: center;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color:crimson;
   font-size: 40px;
  }
  .sdustore span{
   color: #021964;
  }
  .product-item:hover {
     border-bottom: 2px solid #4b70e7;
  }
  .product-item img {
     display: block;
     width: 100%;
  }
  .product-list {
     padding: 15px 0;
  }
  .product-list h3 {
     font-size: 1.2177159590043923vw;
     font-weight: 400;
     color: #444444;
     margin: 0 0 10px 0;
  }
  .price {
     font-size: 1.171303074670571vw;
     color: #5aaefc;
     display: block;
     margin-bottom: 0.8784773060029283vw;
  }
  .button {
     text-decoration: none;
     display: inline-block;
     padding: 0 0.8784773060029283vw;
     background: #cccccc;
     color: white;
     text-transform: uppercase;
     font-size: 0.8784773060029283vw;
     line-height:  2.049780380673499vw;
     transition: .3s ease-in;
     cursor: pointer;
  }
  .product-item:hover .button {
     background: #4b70e7;
     border:1px solid #4b70e7;
  }
  .colss{
     display: flex;
     justify-content: center;
     padding: 0.7320644216691069vw;   
  }
 
  .cart-wrapper img{
     width: 7.320644216691069vw;
     padding-left: 0.36603221083455345vw;
    
  }
  .cart-wrapper .product-list{
     font-size: 1.0248901903367496vw;
     text-align: center;
     margin-top: -8.052708638360176vw;
     padding-left: 7.320644216691069vw;
     background-color: lightgray;
  }
  .Pusto{
     background-color: #444444;
     background-size: 1.8301610541727673vw;
     color: #fafafa;
     height: 1.8301610541727673vw;
  }
  #order-form{
     display: none;
  }
 
  .small{
     font-size: 0.9516837481698389vw;
  }
  .delivery-cost{
     color: green;
     font-weight: 900;
  }
  .total-price, .rouble{
     color: red;
     font-weight: 900;
  }
  .main{
    display: flex;
    clear:both;
    flex-direction: row;
    margin-right: 4.392386530014641vw;
  }
  .cart-wrapper{
    max-height: 7.320644216691069vw !important;
    overflow-y: scroll;
  }
  .main2{
    display: flex;
    clear:both;
    flex-direction: row;
    margin-right: -1.0980966325036603vw;
  }
  .main3{
    display: flex;
    clear:both;
    margin-right: -3.074670571010249vw;
    margin-left: -2.1961932650073206vw;
  }
  .main4{
    display: flex;
    clear:both;
    margin-right:  -5.124450951683748vw;
    margin-left: -4.24597364568082vw;
  }
  button{
    color:#4b70e7;
    background-color:#cccccc;
    border: none;
    cursor: pointer;
  }
  .price__currency{
    color: crimson;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .item-title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .form-control{
    padding-top: -1.4641288433382138vw;
  }
 
  /*Home*/
  body{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Kaushan Script', cursive; */
     font-size: 1.0980966325036603vw;
     color: #333;
     line-height: 1.6;
     margin: 0;
 }
 *,
 *:before,
 *:after{
  
    box-sizing:border-box;
 }
 h1,h2,h3,h4,h5,h6{
    margin: 0;
 }
 .container{
  width: 100%;
  max-width: 87.84773060029282vw;
  margin: 0 auto;  
 }
 
 .imgintro{
    margin-left: 1.7569546120058566vw;
    width: 95.1683748169839vw;
    height: auto;
 }
 .imgintro1{
 width: 1200px;
 height: auto;
 margin-left:70px;
 margin-top: -80px;
 }
 .imgintro2{
    width: 1200px;
    height: auto;
    margin-left:70px;
    }
 .header{
    padding-top: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
 }
 .header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .header_logo{
    font-size:  2.1961932650073206vw;
    font-weight: 700;
    color: rgb(240, 242, 245);
 }
 .nav{
    font-size: 14px;
    text-transform: uppercase;
 }
 .nav_link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: white;
    position: relative;
    text-decoration: none;
    transition: color .1s linearr;
 }
 .nav_link:after{
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    content: "";
     display: block;
    width: 100%;
    height: 3px;
    /* display: none; */
    background-color: yellow;
    position: absolute;
    transition: opacity .1s linear;
 
 }
 .nav_link:hover{
    color:yellow ;
 }
 .nav_link:hover:after{
 opacity: 1;
 }
 /*button*/
 .btn{
    display: inline-block;
    vertical-align: top;
    padding: 0.5856515373352855vw  2.1961932650073206vw;
    border: 3px solid whitesmoke ;
    color: white;
    text-transform: uppercase;
    font-size: 1.0248901903367496vw;
    font-weight: 700;
    text-decoration: none;
    transition:  1s linear,color .1s linear;
 }
 .btn:hover{
    background-color: rgb(242, 247, 252);
    color: #333;
    
 }
 
 @keyframes color {
    0%   { background: #33CCCC; }
    20%  { background: #33CC36; }
    40%  { background: #B8CC33; }
    60%  { background: #FCCA00; }
    80%  { background: #33CC36; }
    100% { background: #33CCCC; }
  }
  
  .animates{
    background: #33CCCC; /* Fallback */
    animation: color 9s infinite linear;
    padding: 2em;
  }
 
  .choice {
    display: flex;
    justify-content: center;
  }
  .choice input[type=radio] {
     position: absolute;
     left: -99999px;
  }
  .choice span {
    display: block;
    padding: 0.1em 0.2em;
    border: 1px solid wheat;
    margin-right: 1px;
    cursor: pointer;
  }
  .choice input[type=radio]:checked + span {
    border-color:#4b70e7;
    background:#4b70e7;
  }
  .form__input-group{
    font-size: 2.1961932650073206vw;
  }
  #emails{
 font-size: 0.9516837481698389vw;
  }
  #confirm_emails{
 font-size: 0.9516837481698389vw;
  }

  .dropdown {
   position: relative;
   display: inline-block;
   cursor: pointer;
 }
 
 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9c5;
   min-width: 80px;
   max-height: 180px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 
 /* Links inside the dropdown */
 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   font-size: 12px;
 }
 
 /* Change color of dropdown links on hover */
 .dropdown-content a:hover {background-color: #f1f1f1b4}
 
 /* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content {
   display: block;
 }