* {
    margin: 0px;
    padding: 0px;
  }
  body {
    font-size: 120%;
    background: #F8F8FF;
  }
  
  .header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: #4c1e91;
    text-align: center;
    border: 1px solid #531aa9;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
  }
  form, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #bd2b9d;
    background: white;
    border-radius: 0px 0px 10px 10px;
  }
  .input-group {
    margin: 10px 0px 10px 0px;
  }
  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
  }
  .input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(117, 52, 52);
  }
  .btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #523aa8;
    border: none;
    border-radius: 5px;
  }
  .error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a944429a; 
    color: #a94442; 
    background: #383131; 
    border-radius: 5px; 
    text-align: left;
  }
  .success {
    color: #6b4eae; 
    background: hsl(212, 67%, 46%); 
    border: 1px solid #5631cd;
    margin-bottom: 20px;
  }